In [1]:
import pandas as pd

In [3]:
df_id = pd.read_csv('data/uk_booker_products_uuid.csv')

In [4]:
df_products = pd.read_csv('data/uk_booker_products.csv')

In [5]:
df_id.shape, df_products.shape

((153749, 3), (54191, 2))

In [7]:
df_id.head()

,parent_chain_name,item_uuid,item_name
0,Booker,51e6b223-2370-4c2b-9920-e211d10827d2,\tAunt Bessie's Hearty & Homely Dumpling Mix 140g
1,Booker,857f33a1-d181-45e2-ad7a-059f7f82b044,\tBC Choc Fudge Brownie
2,Booker,3fed251f-4564-480e-8fd4-ecb29c13b0bf,\tBatchelors Big Super Noodles Chicken Flavour...
3,Booker,5b70ece1-c78c-4c2f-ae37-9f752eda10a1,\tBatchelors Condensed Soup Cream of Chicken 295g
4,Booker,cb60ff0b-1681-47e7-a10f-77a63e98fdb4,\tBatchelors Cream of Tomato Condensed Soup 295g

In [8]:
df_products.head()

  parent_chain_name                                          item_name
0            Booker  \tAunt Bessie's Hearty & Homely Dumpling Mix 140g
1            Booker                            \tBC Choc Fudge Brownie
2            Booker  \tBatchelors Big Super Noodles Chicken Flavour...
3            Booker  \tBatchelors Condensed Soup Cream of Chicken 295g
4            Booker   \tBatchelors Cream of Tomato Condensed Soup 295g

### Do we have a map between all products?

In [9]:
item_name_list = list(df_products.item_name.unique())

In [11]:
item_uuid_list = list(df_id.item_name.unique())

#### a) Products in df_products that have no ID

In [12]:
not_uuid = []
for product_ in item_name_list:
    if product_ not in item_uuid_list:
        not_uuid.append(product_)

In [14]:
len(not_uuid)

515

#### b) Products in df_id not in df_products

In [15]:
not_name = []
for product_ in item_uuid_list:
    if product_ not in item_name_list:
        not_name.append(product_)

In [16]:
len(not_name)

2456

### Mapping existant combinations

In [19]:
df_id.drop('parent_chain_name', axis=1, inplace=True)

In [20]:
df_id.head()

,item_uuid,item_name
0,51e6b223-2370-4c2b-9920-e211d10827d2,\tAunt Bessie's Hearty & Homely Dumpling Mix 140g
1,857f33a1-d181-45e2-ad7a-059f7f82b044,\tBC Choc Fudge Brownie
2,3fed251f-4564-480e-8fd4-ecb29c13b0bf,\tBatchelors Big Super Noodles Chicken Flavour...
3,5b70ece1-c78c-4c2f-ae37-9f752eda10a1,\tBatchelors Condensed Soup Cream of Chicken 295g
4,cb60ff0b-1681-47e7-a10f-77a63e98fdb4,\tBatchelors Cream of Tomato Condensed Soup 295g

In [18]:
df_products.head()

  parent_chain_name                                          item_name
0            Booker  \tAunt Bessie's Hearty & Homely Dumpling Mix 140g
1            Booker                            \tBC Choc Fudge Brownie
2            Booker  \tBatchelors Big Super Noodles Chicken Flavour...
3            Booker  \tBatchelors Condensed Soup Cream of Chicken 295g
4            Booker   \tBatchelors Cream of Tomato Condensed Soup 295g

In [26]:
df = df_products.merge(df_id, how='left', on='item_name')

In [31]:
df['parent_chain_name'] = 'Booker'

In [37]:
df = df.loc[:, ['parent_chain_name', 'item_uuid', 'item_name']]

In [41]:
df = df.drop_duplicates().reset_index(drop=True)

In [46]:
print(f'Number of products without uuid match: {df[df["item_uuid"].isna()].shape[0]}')

Number of products without uuid match: 515

In [47]:
df.to_csv('data/uk_uuid_name.csv', index=False)